.bar {
  fill: steelblue;
}

.bar-text {
  fill: white;
  font: 20px bold;
  font-family: Roboto, sans-serif;
  text-anchor: end;
}

.axis text {
  font: 15px sans-serif;
  font-weight: bold;
  fill: #999999;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}